@font-face {
    font-family: $font-Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 400;
}
@font-face {
    font-family: $font-Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 600;
}
@font-face {
    font-family: $font-Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 700;
}
@font-face {
    font-family: $font-Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
    font-weight: 800;
}

@font-face {
    font-family: $font-Pragmatica;
    src: url("../fonts/pragmatica.ttf");
}
