$font-Open-Sans: Open-Sans;
$font-Pragmatica: Pragmatica;

$color-orange: #ff914c;
$color-black: #000000;
$color-grey: #eeebe2;
$color-white: #ffffff;

$fullHeight: 100%;
$fullWidth: 100vw;

$margin-0-auto: 0 auto;
$margin-top-22: 22px;

$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;

$calc-100vw-60: calc($fullWidth - 60px);

$content-center: $margin-0-auto;

$mainFont: $font-Open-Sans;
$additionalFont: $font-Pragmatica;
$font-main-menu: $color-orange;
$font-text-color: $color-black;
$font-main-size: $font-size-20;
$font-nav-size: $font-size-24;
$font_loc-size: $font-size-22;
$color-add_shadow: $color-grey;
$color-add_bg: $color-white;

$container-center: $content-center;
$container-margin: $calc-100vw-60;
$container-margin-top: $margin-top-22;
$container-general-margin: $container-margin-top auto 0;

$calc-100vh-margin-top: calc($fullHeight - $container-margin-top);
$content-height-with-margin-top: $calc-100vh-margin-top;

$color-bg-footer: $color-orange;
