.home {
    &-navigation {
        & > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        & * {
            color: $color-orange;
            font-weight: 700;
            font-size: $font-nav-size;
        }

        &_logo,
        &_location {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_logo img {
            height: 58px;
            width: 55px;
        }

        &_location img {
            height: 38px;
            width: 23.5px;
        }

        &_location * {
            font-size: $font_loc-size;
            user-select: none;
        }

        &_logo * {
            font-weight: 800;
        }

        &_logo img,
        &_location img {
            margin-right: 10px;
        }

        &_link {
            display: flex;
            white-space: nowrap;
            margin: 0 5px 0;
        }
    }

    &-menu {
        & > .container {
            display: flex;
        }

        & > ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &_element {
            margin-top: 39px;
        }

        &_ad {
            display: flex;
            flex: 1;
            margin-top: 73px;
            margin-left: 40px;
            margin-right: 45px;
            border-radius: 30px;
            background-color: $color-add_bg;
            box-shadow: 0 0 3px 4px $color-add_shadow;
        }
    }
    &-catalog {
        &_title {
            position: relative;
            margin-top: 104px;
            left: 125px;
            color: #ff914c;
            font-size: 48px;
        }
        &_slider {
            width: auto;
            margin-top: 40px;
            margin-left: 100px;
            box-sizing: border-box;
            height: auto;
            // overflow: hidden;
            .slick-slide {
                margin: 0 26px;
                width: 345px;
            }
            .slick-list {
                overflow: visible;
                margin: 0;
                padding: 0;
            }
            &_items {
                padding: 10px 20px;
                // margin: 5px 15px 5px 15px;
                height: 238px;
                // width: 238px;
                flex-direction: column;
                justify-content: space-around;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0px 0px 10px 10px #f5f5f5;
                overflow: visible;
                position: relative;
            }
        }
    }
    &-top {
        &_title {
            position: relative;
            margin-top: 40px;
            left: 125px;
            color: #ff914c;
            font-size: 48px;
        }
        &_slider {
            margin-top: 40px;
            .slick-slide {
                margin: 0 26px;
                width: 345px;
            }
            .slick-list {
                overflow: visible;
                margin: 0;
                padding: 0;
            }
            &_items {
                padding: 0 14px;
                margin: 5px 15px 5px;
                height: 238px;
                width: 238px;
                flex-direction: column;
                // justify-content: flex-end;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0px 0px 10px 10px #f5f5f5;
                border-radius: 20px;
                overflow: hidden;
                position: relative;
            }
        }
    }
    &-question {
        &_title {
            position: relative;
            margin-top: 40px;
            left: 125px;
            color: #ff914c;
            font-size: 48px;
        }
        &_slider {
            margin-top: 40px;
            .slick-slide {
                margin: 0 26px;
                width: 345px;
                height: 238px;
            }
            .slick-list {
                overflow: visible;
                margin: 0;
                padding: 0;
            }
            &_items {
                padding: 10px 20px;
                margin: 5px 15px 5px;
                height: 238px;
                flex-direction: column;
                justify-content: flex-end;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0px 0px 10px 10px #f5f5f5;
                border-radius: 20px;
                overflow: scroll;
                position: relative;
            }
        }
    }

    &-footer {
        position: relative;
        width: 100%;
        height: auto;
        background-color: $color-bg-footer;
        & > .container {
        }
        &_columns {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: space-around;
        }
        &_column {
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: start;
            & * {
                color: #fff;
            }
            &_title {
                display: flex;
                flex-basis: 100px;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-size: 26px;
                font-weight: 800;
                &.align {
                    &-right {
                        align-items: end;
                        text-align: right;
                    }
                    &-left {
                        align-items: start;
                        text-align: left;
                    }
                }
            }
            &_list {
                & li {
                    &:not(:first-of-type),
                    &:not(:first-of-type) {
                        margin: 25px 0;
                    }
                }
                & a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    font-size: 24px;
                    font-weight: normal;
                }
                &.align {
                    &-right * {
                        align-items: end;
                        text-align: right;
                    }
                    &-left * {
                        align-items: start;
                        text-align: left;
                    }
                }
            }
            &:not(:first-child),
            &:not(:last-child) {
                margin: 0 10px 0;
            }
            &:last-child &_list {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: end;
                justify-content: space-between;
            }
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: -100px;
            min-width: 100%;
            z-index: -9999;
            height: 200px;
            mask-image: url(../img/WaveBG.svg);
            -webkit-mask-image: url(../img/WaveBG.svg);
            background-color: $color-bg-footer;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: -200px;
            min-width: 100%;
            z-index: -9999;
            height: 200px;
            mask-image: url(../img/WaveBG.svg);
            -webkit-mask-image: url(../img/WaveBG.svg);
            background-color: $color-bg-footer;
            opacity: 0.16;
        }
    }
}
